* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #111111;
    color: #fff;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
}

input {
    outline: none;
    box-shadow: none;
}

::-webkit-scrollbar {
    display: none;
}

.chat {
    overflow: hidden;
    height: 100%;
    position: relative;
}

.chat__head {
    width: 100%;
    max-height: 100vh;
    display: flex;
    align-items: center;
    gap: 20px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 20px 30px;
    background: linear-gradient(to bottom, rgba(17, 17, 17, 1) calc(100% - 20px), rgba(11, 11, 11, 0) 100%);
    z-index: 10;
}

.chat__icon {
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    backface-visibility: hidden;
}

.chat__icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.chat__wrapper {
    height: 100vh;
    padding: 70px 20px 70px;
    list-style-type: none;
    overflow: auto;
    scroll-behavior: smooth;
}

.chat__wrapper li {
    padding: 10px;
    border-radius: 10px;
    max-width: 75%;
    width: fit-content;
    scroll-margin-bottom: 70px;
    position: relative;
}

.chat__wrapper li:after {
    content: attr(data-user);
    position: absolute;
    bottom: calc(100% + 4px);
    left: 0;
    font-size: 9px;
    min-width: max-content
}

.chat__wrapper li + li {
    margin-top: 10px;
}

.chat__wrapper li + [data-user] {
    margin-top: 30px;
}

.chat__wrapper .not-current {
    background-color: #222222;
}

.chat__wrapper p {
    width: fit-content;
}

.chat__wrapper .current {
    margin-left: auto;
    background-color: #333333;
}

.chat__inputs {
    background: linear-gradient(to top, rgba(17, 17, 17, 1) calc(100% - 20px), rgba(11, 11, 11, 0) 100%);
    padding-block: 40px 10px;
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.chat__actions {
    padding-inline: 20px;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#chat__btn {
    background-color: transparent;
    border: none;
    color: #fff;
    height: 20px;
    display: block;
}

.chat__message {
    flex-grow: 1;
    position: relative;
}

#chat__message {
    font-size: 12px;
    line-height: 24px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    height: 24px;
    width: 100%;
    display: block;
    padding: 10px;
}

#chat__message-real {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

/*-------- Modal --------*/

.modal {
    position: fixed;
    inset: 0;
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: opacity 400ms;
    z-index: 10;
}

.modal.user-true {
    opacity: 0;
    pointer-events: none;
}

.modal.user-true-loaded {
    opacity: 0;
    pointer-events: none;
    transition: none;
}

.modal__inner {
    width: 100%;
    max-width: 600px;
}

.modal__input {
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    display: block;
    flex-grow: 1;
    padding: 10px;
    margin-bottom: 16px;
}

.modal__btn {
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-inline: auto;
    padding: 10px 20px;
}