* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #111111;
    color: #fff;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
}

.wrapper {
    max-width: 600px;
    margin-inline: auto;
}

input {
    outline: none;
    box-shadow: none;
}

::-webkit-scrollbar {
    display: none;
}

.chat {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 64px;
}

.chat__wrapper {
    flex-grow: 0 1 100%;
    list-style-type: none;
    overflow: auto;
    -webkit-mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 20px,  rgba(0, 0, 0, 1) calc(100% - 20px), rgba(255, 255, 255, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) max(calc(50% - 100px), var(--height) / 2), rgb(255, 255, 255) 50%);
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
    padding-block: 10px;
    scroll-behavior: smooth;
    min-height: calc(100% - 44px);
}

.chat__wrapper li {
    padding: 10px;
    border-radius: 10px;
    max-width: 75%;
    width: fit-content;
    scroll-margin-bottom: 20px;
}

.chat__wrapper li + li {
    margin-top: 10px;
}

.chat__wrapper .not-current {
    background-color: #222222;
}

.chat__wrapper p {
    width: fit-content;
}

.chat__wrapper .current {
    margin-left: auto;
    background-color: #333333;
}

.chat__inputs {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-top: 20px;
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    padding-inline: 20px;
}

#chat__btn {
    background-color: transparent;
    border: none;
    color: #fff;
    height: 20px;
    display: block;
}

#chat__message {
    font-size: 12px;
    line-height: 24px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    height: 24px;
    width: 100%;
    display: block;
    flex-grow: 1;
    padding: 10px;
}

/*-------- Modal --------*/

.modal {
    position: fixed;
    inset: 0;
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: opacity 400ms;
    z-index: 10;
}

.modal.user-true {
    opacity: 0;
    pointer-events: none;
}

.modal.user-true-loaded {
    opacity: 0;
    pointer-events: none;
    transition: none;
}

.modal__inner {
    width: 100%;
    max-width: 600px;
}

.modal__input {
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    display: block;
    flex-grow: 1;
    padding: 10px;
    margin-bottom: 16px;
}

.modal__btn {
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-inline: auto;
    padding: 10px 20px;
}